#resume-container{
    height: 100vh;
    width: 100vw;
    text-align: center;
    display: grid;
    grid-template-columns: 1fr 3fr;
    margin: 0 auto; /* Centers content in page */
    top: 0;
    position: sticky;
}

#overview{
    height: 100%;
    display: grid;
    grid-template-rows: .1fr 2.5fr .5fr;
    background-color: #75c5aa;
    color: white;
    top: 0;
    position: sticky;
    justify-content: center;
}

#details{
    height: 100vh;
    background-color: white;
    color: #75c5aa;
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(2, 1fr);
    position: sticky;
}

.text-info{
    margin: 0 auto;
    width: 100%;
    font-size: x-large;
    text-align: center;
    text-transform: none;
    padding: 1%;
}

.details-container{
    height: 100%;
    width: 60%;
    margin: 0 auto;
    vertical-align: middle;
    position: sticky;
}